* {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 3.5rem - 8rem);
}
html {
  height: 100%;
}

body {
  font-size: "montserrat", sans-serif;
  margin: 0;
  height: 100%;
}
.backdrop {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.main-header {
  background: #2ddf5c;
  padding: 0px 1rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
}

.main-header__brand {
  color: #0e4f1f;
}
.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav {
  display: none;
}
@media (min-width: 40rem) {
  .main-nav {
    display: flex;
  }
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 1.3rem;
  display: flex;
}

.main-nav__item {
  margin: 0px 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: antiquewhite;
  text-decoration: underline;
  border-bottom: 5px white solid;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  background: #ff1b68;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
  text-decoration: none;
}
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}
.button {
  background: #0e4f1f;
  color: #d5ffdc;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover,
button:active {
  background: white;
  color: #0e4f1f;
}
button:focus {
  outline: none;
}

.main-footer {
  background: black;
  color: white;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer__link {
  margin: 0.5rem 0;
}
.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
@media (min-width: 40rem) {
  .main-footer__link {
    margin: 0 1rem;
  }
  .main-footer__links {
    flex-direction: row;
    justify-content: center;
    /* vertical-align: middle; */
  }
}
.open {
  display: block !important;
}
